<div id="sign-pad-area">
  <canvas></canvas>
</div>
<div id="sign-pad-overlay">
  <div id="sign-pad-panel">
    <div id="sign-pad-config" ng-show="config.show">
      <slider floor="5" ceiling="20" step="1" ng-model-low="params.min" ng-model-high="params.max"></slider>
      <slider floor="0" ceiling="255" step="1" ng-model="params.red" class="red"></slider>
      <slider floor="0" ceiling="255" step="1" ng-model="params.green" class="green"></slider>
      <slider floor="0" ceiling="255" step="1" ng-model="params.blue" class="blue"></slider>
      <slider floor="0" ceiling="100" step="1" ng-model="params.smooth"></slider>
    </div>
    <div id="sign-pad-preview" style="height:25px" ng-show="config.show">
      <div style="width:{{params.min*2}}px; height:{{params.min*2}}px;
                  border-radius:{{params.min}}px;
                  background:rgb({{params.red}},{{params.green}},{{params.blue}})">
      </div>
      <div style="width:{{params.smooth/2}}%"></div>
      <div style="width:{{params.max*2}}px; height:{{params.max*2}}px;
                  border-radius:{{params.max}}px;
                  background:rgb({{params.red}},{{params.green}},{{params.blue}})">
      </div>
    </div>
  </div>
  <div id="sign-pad-control">
    <!--button><span class="glyphicon glyphicon-ok"></span></button-->
    <button ng-click="signPad.replay()"><span class="glyphicon glyphicon-play"></span></button>
    <button ng-click="signPad.clear()"><span class="glyphicon glyphicon-remove"></span></button>
    <button ng-click="toggleConfig()"><span class="glyphicon glyphicon-wrench"></span></button>
  </div>
</div>